.App {
  background-color: #F4F4F4;
}
/* .lead {
  text-align: center;
  width: 45%;
  margin: 0 auto;
}
.footer-logo{
	height: 20px;
	width: 20px;
	text-align: left;
}
.pricing-header{
	padding-bottom: 40px;
}
.jumbotron .card{
  padding: 15px;
  margin-bottom: 15px;
  min-height: 300px;
}
.jumbotron h1{
  margin-top: 0;
    padding-top: 0;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #292788;
}
.jumbotron .image{
  height: 130px;
  width: 130px;
  margin: 0 auto 20px;
}
h5.card-title{
  text-transform: capitalize;
    color: #000;
}
.card span{
  font-weight: 600;
  color: #00f;
  margin-bottom: 5px;
}
.card p{
  text-align: left;
}
.card .btn{
  width: 250px;
  margin: 0 auto;
}
.modal{
  margin-top: 100px;
}
.modal.fade .modal-dialog{
  -webkit-transform: translate(0,0);
     transform: translate(0,0); 
}
.modal-box{
  margin-bottom: 20px;
}
.login-sec{
  background-color: #f5f5f5;
  padding: 2vw 0;
  margin-bottom: 1.5vw;
}
.form-ui{
  width: 500px;
  margin: 0 auto;
  padding: 0 50px;
}
.form-group{
  clear: both;
}
.form-group label{
  float: left;
}
.error{
  color: #f00;
  float: left;
}
.loginHead{
  font-size: 3vw;
} */

/* Login Clide G */
.login-wrapper{
  background-color: #fff;
}
.login-left{
  width: 60vw;
  background-color: #fff;
  padding: 4vw;
}
.login-right{
  width: 40vw;
  position: fixed;
  left: 60vw;
  top: 0;
  height: 100vh;
  background-image: url(images/login-right.png);
  background-repeat: no-repeat;
  padding: 4vw;
}
.login-footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 12.5vw;
}
.footer-img{
  width: 100%;
}
.footer-text{
  color: #fff;
  font-size: 1vw;
  z-index: 9;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  margin-bottom: 0.5vw;
}
.clide-logo{
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background-color: #fff;
  height: 2.4vw;
  float: right;
}
.clide-logo .inner-logo{
  border-radius: 10px;
  height: 2.4vw;
}
.bottom-text{
  clear: both;
  padding-top: 1.5vw;
  padding-bottom: 1vw;
}
.bottom-text h4{
  font-weight: 700;
  font-size: 1.3vw;
  text-align: right;
  color: #000000;
}
.bottom-text p{
  font-size: 0.85vw;
  text-align: right;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 1vw;
}
.clide-text{
  height: 3vw;
  line-height: 3vw;
  border-top: 0.04vw solid rgba(0, 0, 0, 0.1);
  border-bottom: 0.04vw solid rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 30vw;
  float: right;
}
.clide-text h6{
  display: inline;
  font-size: 0.9vw;
  text-align: right;
  color: #FF6347;
  padding-left: 1vw;
  padding-right: 1vw;
  line-height: 2vw;
}
.mid-text{
  border-left: 0.04vw solid rgba(0, 0, 0, 0.4);
  border-right: 0.04vw solid rgba(0, 0, 0, 0.4);
}
.social-box{
  float: right;
}
.social-box .social-icon{
  width: 2vw;
  height: 2vw;
  line-height: 2vw;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  font-size: 1vw;
  color: #fff;
  margin: 1vw;
  text-align: center;
}
.lleft-gif{
  float: left;
  width: 30vw;
  height: 22vw;
  text-align: center;
  overflow: hidden;
}
.lleft-gif img{
  width: 25vw;
  height: 25vw;
}
.lright-bottom{
  clear: both;
  float: right;
  width: 80%;
}
.client-info{
  position: relative;
  border-bottom: 0.04vw solid rgba(0, 0, 0, 0.2);
  padding-bottom: 8.5vw;
}
.client-img{
  position: absolute;
  top: 1vw;
  left: 0;
  background: #F4F4F4;
  border: 0.04vw solid #919191;
  border-radius: 1vw;
  padding: 0.7vw;
} 
.client-img img{
  width: 3.5vw;
  height: 3.5vw;
}
.client-para{
  position: absolute;
  top: 1vw;
  left: 7vw;
  margin-bottom: 0;
  border-left: 0.04vw solid rgba(0, 0, 0, 0.2);
  padding-left: 1.5vw;
} 
.client-para h4, .login-form h4{
  font-weight: 700;
  font-size: 1.3vw;
  text-align: left;
  color: #000000;
  line-height: 1.5vw;
  margin-bottom: 0.7vw;
}
.client-para p{
  font-size: 0.85vw;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 1vw;
}
.login-form{
  text-align: left;
  padding-top: 5vw;
}
.floatingLabelInput { 
  display: flex;
  position: relative;
  flex-direction: column;
  width: 22vw;
  margin-top: 2.2vw;
}
.floatingLabelInput label {
  position: absolute;
  top: -1.5vw;
  left: 0;
  font-size: 0.9vw;
  transition: all 0.2s linear;
  opacity: 0;
  color: #000;
}
.floatingLabelInput label.on {
  opacity: 1;
  color: rgba(0, 0, 0, 0.6);
}
.floatingLabelInput input {
  font-size: 0.9vw;
  box-shadow: none;
  background-color: transparent;
  border: 0;
  border-bottom: 0.04vw solid rgba(0, 0, 0, 0.6);
  outline: none;
}
.forget-div{
  margin-top: 1vw;
  width: 22vw;
  text-align: right;
}
.forget-div a{
  font-size: 0.9vw;
  font-weight: 500;
  color: #000;
}
.login-btn{
  margin-top: 2vw;
}
.red-btn{
  background: #F4F4F4 !important;
  border: 0.08vw solid #FF6347 !important;
  box-shadow: 0.05vw 0.05vw 1vw rgba(0, 0, 0, 0.25) !important;
  border-radius: 2vw !important;
  outline: none;
  color: #FF6347 !important;
  min-width: 8vw;
  text-transform: uppercase;
  font-weight: 600 !important;
  height: 2.5vw;
  font-size: 1vw !important;
}
.red-btn:hover{
  background: #FF6347 !important;
  border: 0.08vw solid #FF6347 !important;
  box-shadow: 0.05vw 0.05vw 1vw rgba(0, 0, 0, 0.25) !important;
  border-radius: 2vw !important;
  outline: none;
  color: #fff !important;
  min-width: 8vw;
  text-transform: uppercase;
  font-weight: 600 !important;
  height: 2.5vw;
  font-size: 1vw !important;
}
.back-div{
  margin-top: 2vw;
}
.back-div a{
  font-size: 0.85vw;
  padding-left: 0.5vw;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 600;
  vertical-align: top;
}
.back-div a:hover{
  color: #FF6347;
  text-decoration: none;
}
/* Dashboard */
.main-wrapper {
  background-color: #FAFAFB;
  overflow: hidden;
}
.topbar {
  position: fixed;
  width: 100%;
  box-shadow: 0 0.1vw 0.2vw rgba(0, 0, 0, 0.1);
  height: 4.5vw;
  background-color: #fff;
  z-index: 9;
  padding: 0.5vw 1vw;
}
.navbar{
  padding: 0 !important;
}
.client-logo{
  height: 3.5vw;
}
.nav-right{
  float: right;
}
.navbar-brand{
  margin: 0 !important;
  padding: 0 !important;
  line-height: 0 !important;
  margin-left: 13.5vw !important;
}
.navbar-expand {
  flex-flow: row nowrap;
  justify-content: space-between !important;
}
.dropdown-toggle.btn-primary{
  background-color: transparent;
  border: 0;
  box-shadow: none;
  outline: none;
}
.dropdown-toggle.btn-primary:hover, .show>.btn-primary.dropdown-toggle:focus, .dropdown-toggle.btn-primary:active, .show>.btn-primary.dropdown-toggle{
  background-color: transparent !important;
  box-shadow: none !important;
  outline: none !important;
  border-collapse: transparent !important;
}
.dropdown-toggle::after{
  display: none !important;
}
.nav-right .dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0 !important;
  left: inherit;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 7vw;
  padding: 0.5vw;
  margin: 0;
  font-size: 0.9vw;
  color: #212529;
  text-align: left;
  list-style: none;
  background: #FFFFFF;
  border: 0.03vw solid #C1C1C1;
  box-sizing: border-box;
  box-shadow: 0.02vw 0.02vw 0.09vw rgba(0, 0, 0, 0.24);
  border-radius: 0.5vw;
}
.nav-right .dropdown-item {
  display: block;
  width: 100%;
  padding: 0.5vw;
  clear: both;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.nav-right .dropdown-item:hover {
  color: #FF6347;
  text-decoration: none;
  background-color: #fff !important;
}
.nav-right .border-bottom{
  border-bottom: 0 !important;
}
.btn-primary.focus, .btn-primary:focus {
  box-shadow: none !important;
}
/* sidebar */
.left-sidebar {
  position: fixed;
  width: 13.5vw;
  height: 100%;
  top: 0px;
  z-index: 20;
  padding-top: 4.5vw;
  background: #F4F4F4;
  -webkit-box-shadow: 0.1vw 0.1vw 0.2vw rgba(0, 0, 0, 0.25);
  box-shadow: 0.1vw 0.1vw 0.2vw rgba(0, 0, 0, 0.25);
}
.profile-side{
  text-align: center;
  border-bottom: 0.02vw solid #000000;
  padding-bottom: 2vw;
}
.profile-side img{
  border: 0.15vw solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0 0.1vw 0.2vw rgba(0, 0, 0, 0.214);
  width: 5.5vw;
  height: 5.5vw;
  border-radius: 50%;
}
.profile-side h4{
  font-weight: 500;
  font-size: 1vw;
  line-height: 1.5vw;
  color: #000000;
  margin-top: 0.5vw;
}
.profile-side h6{
  font-weight: 500;
  font-size: 0.8vw;
  line-height: 0.5vw;
  color: rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
}
.sidenav{
  margin: 1.5vw 0;
}
.sidenav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.sidenav ul li{
  background-color: #F4F4F4;
  padding: 0.5vw 1vw 1vw;
}
.sidenav ul li a{
  color: rgba(0, 0, 0, 0.8);
  font-size: 1vw;
}
.sidenav ul li a{
  text-decoration: none;
}
.sidenav ul li a img{
  border-right: 0.1vw solid #E6E6E6;
  padding-right: 0.9vw;
  height: 0.9vw;
}
.sidenav ul li a span{
  padding-left: 0.9vw;
}
.sidenav .powered{
  position: fixed;
  bottom: 0;
  height: 2.6vw;
  width: 13.5vw;
  text-align: center;
  border-top: 0.05vw solid #E5E5E5;;
}
.sidenav .powered h6{
  font-size: 0.8vw;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
  line-height: 2.6vw;
  margin: 0;
}

/* content Wrapper */
.page-wrapper {
  background: #FAFAFB;
  padding-bottom: 60px;
  margin-top: 4.5vw;
  position: relative;
  margin-left: 13.5vw;
  padding: 1vw;
  min-height: 40vw;
}
.report-section{
  width: 45vw;
  margin: 0.3vw 0.5vw;
}
.reporting-box{
  background: #FFFFFF;
  box-shadow: 0 0.2vw 0.8vw rgba(0, 0, 0, 0.1);
  border-radius: 0.5vw;
  padding: 1vw;
  margin-bottom: 1vw;
}
.reporting-box .report-top{
  display: flex;
  flex-direction: row;
}
.report-top .image-box{
  flex: 0.5;
}
.report-top .list{
  flex: 5;
}
.report-top .severity{
  flex: 0.5;
}
.report-top .image-box img{
  border: 0.1vw solid #FFFFFF;
  box-shadow: 0 0 0.2vw rgba(0, 0, 0, 0.25);
  height: 3vw;
  width: 3vw;
  border-radius: 50%;
}
.report-top .list h5{
  font-weight: 500;
  font-size: 0.9vw;
  line-height: 1vw;
  color: #000000;
  margin-top: 0.2vw;
}
.report-top .list h6{
  font-size: 0.8vw;
  line-height: 1vw;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 400;
  display: inline-block;
  margin-right: 1vw;
}
.report-top .list h6.overdue-head{
  color: rgba(0, 0, 0, 0.4);
}
.severity-box{
  width: 1.3vw;
  height: 1.3vw;
  border-radius: 50%;
  background-color: #FF4A4A;
  float: right;
  border: 0.01vw solid #FF4A4A;
}
.report-middle{
  display: flex;
  flex-direction: row;
}
.report-middle .middle-left{
  flex: 5;
  margin-top: 0.8vw;
}
.report-middle .middle-right{
  flex: 1;
  margin-top: 0.8vw;
}
.middle-left h6 {
  font-size: 0.8vw;
  line-height: 1vw;
  color: #9F9F9F;
  font-weight: 400;
}
.middle-left h6 span.inside{
  color: #000;
}
.middle-right h6 {
  font-size: 0.8vw;
  line-height: 1vw;
  color: #9F9F9F;
  font-weight: 400;
  text-align: right;
}
.report-images{
  margin-top: 0.7vw;
}
.rimage-box{
  border: 0.05vw solid #FFFFFF;
  box-shadow: 0.05vw 0.05vw 0.2vw rgba(0, 0, 0, 0.078);
}
.rimage-box img{
  width: 100%;
  height: 18vw;
}
.rimage-second{
  display: flex;
  flex-direction: row;
}
.rimage-second .image-box1{
  flex: 3;
  border: 0.05vw solid #FFFFFF;
  box-shadow: 0.05vw 0.05vw 0.2vw rgba(0, 0, 0, 0.078);
}
.rimage-second .image-box1 img{
  width: 99%;
  height: 18vw;
}
.rimage-second .image-box1 img.img-second{
  margin-left: 1%;
}
.rimage-third{
  display: flex;
  flex-direction: row;
}
.rimage-third .third-box1{
  flex: 4;
  border: 0.05vw solid #FFFFFF;
  box-shadow: 0.05vw 0.05vw 0.2vw rgba(0, 0, 0, 0.078);
}
.rimage-third .third-box1 img{
  height: 18vw;
}
.rimage-third .third-box2{
  flex: 2;
}
.rimage-third .third-box2 .image-box3{
  border: 0.05vw solid #FFFFFF;
  box-shadow: 0.05vw 0.05vw 0.2vw rgba(0, 0, 0, 0.078);
  width: 11vw;
  height: 8.75vw;
  margin-left: 0.5vw;
}
.rimage-third .third-box2 .image-box3 img{
  width: 11vw;
  height: 8.75vw;
}
.image-last{
  margin-top: 0.5vw;
  position: relative;
}
.image-last h6{
  position: absolute;
  top: 40%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: #fff;
  font-size: 1.1vw;
  font-weight: 500;
  text-align: center;
}
.resolve-box{
  position: relative;
  padding-bottom: 2vw;
}
.resolve-box .resolve-btn{
  position: absolute;
  top: 0.5vw;
  right: 0;
  background: #FF4D4D !important;
  border-color: #FF4D4D !important;
  border-radius: 1vw;
  color: #fff !important;
  font-size: 0.85vw;
  font-weight: 500;
  min-width: 6vw;
  margin: 0;
  padding: 0.3vw;
  box-shadow: none !important;
  outline: none !important;
}
/* modal css */
.modal-content{
  border-radius: 0.5vw !important;
  margin: 10vw auto !important;
}
.modal-dialog {
  max-width: 40vw !important;;
}
.modal-header{
  background: #FF6347;
  border-radius: 1vw 1vw 0px 0px;
  position: relative;
}
.modal-title{
  font-weight: 500 !important;
  font-size: 1.05vw !important;
  line-height: 1vw !important;
  color: #000000;
}
.close {
  font-size: 1.4vw !important;
  font-weight: 700 !important;
  line-height: 1 !important;
  color: #fff !important;
  text-shadow: 0 1px 0 #000 !important;
  opacity: 1 !important;
}
.modal-header .close{
  padding: 0 !important;
  box-shadow: none !important;
  outline: none !important;
  margin: -0.5vw 0vw -0.5vw auto !important;
}
.modal-body {
  padding: 1vw !important;
}
.modal-header .modal-btn{
  border: 0 !important;
  background-color: #FF6347 !important;
  box-shadow: none !important;
  outline: none !important;
  padding: 0;
  position: absolute;
  top: 0.4vw;
  right: 3vw;
  font-size: 1.1vw;
  font-weight: 500;
  color: #fff !important;
  border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
  border-radius: 0;
  padding-right: 1vw;
  margin: 0 !important;
  line-height: 1.5vw !important;
}
/* form  */
.form-group label{
  font-weight: 500;
  font-size: 1vw;
  line-height: 1.4vw;
  color: rgba(0, 0, 0, 0.7);
}
.form-control {
  display: block;
  width: 100%;
  height: 2.2vw !important;
  padding: 0.5vw !important;
  font-size: 0.85vw !important;
  font-weight: 400;
  line-height: 1.1vw !important;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 0.07vw solid #EFEBEB;
  border-radius: 0 !important;
}
.form-group {
  margin-bottom: 1.3vw !important;
}
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile + label {
  width: 12vw;
  font-size: 0.9vw;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0;
  background: #FFFFFF;
  border: 0.1vw solid #FFFFFF;
  box-shadow: 0.02vw 0.02vw 0.5vw rgba(0, 0, 0, 0.126);
  border-radius: 1vw;
  margin-top: 0.4vw;
  height: 2.4vw;
  line-height: 2vw;
}
.image-custom{
  background-color: #EDF6FF;
  width: 2.2vw;
  height: 2.2vw;
  display: inline-block;
  padding-left: 0.5vw;
}
label span{
  padding-left: 1vw;
}
/* image preview */
.image-preview .preview-box{
  width: 8vw;
  height: 8vw;
  position: relative;
}
.image-preview .preview-box img{
  width: 7vw;
  height: 7vw;
}
/* full page */
.page-wrapper.page-full{
  margin-left: 0 !important;
  background-color: #fff;
  padding: 0 !important;
}
.topbar-full .navbar-brand{
  margin-left: 0 !important;
}
/* profile page */
.profile-top{
  background-color: #E5E5E5;
  height: 3vw;
  padding: 0 1vw;
}
.profile-top h2{
  font-size: 1.1vw;
  font-weight: 500;
  line-height: 2.7vw;
}
.profile-details{
  background-color: rgba(244, 244, 244, 0.4);
  margin: 1vw;
  padding: 2vw;
  display: flex;
  flex-direction: row;
}
.profile-details .profile-img{
  flex: 0.5;
  border-right: 0.05vw solid rgba(0, 0, 0, 0.1);
}
.profile-details .profile-data{
  flex: 5.5;
  padding-left: 3vw;
  padding-top: 1vw;
}
.profile-details .profile-data .profile-data1{
  display: inline-block;
}
.profile-details .profile-data .profile-data2{
  display: inline-block;
  margin-left: 7vw;
}
.profile-img img{
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  border: 0.1vw solid #FFFFFF;
  box-shadow: 0 0 0.2vw rgba(0, 0, 0, 0.25);
}
.profile-data1 p, .profile-data2 p{
  font-weight: 400;
  font-size: 0.9vw;
  line-height: 1vw;
  color: #000000;
  margin-bottom: 1vw;
}
.project-list{
  margin: 1vw;
}
.table thead th{
  background: #FF6347;
  border-top: 0.05vw solid #FF6347;
  border-bottom: 0.05vw solid #FF6347 !important;
  border-left: 0.05vw solid #FF6347;
  border-right: 0.05vw solid rgba(0, 0, 0, 0.2);
  color: #fff;
}
.table thead th:last-child{
  border-right: 0 !important;
}
.table td, .table th{
  vertical-align: middle !important;
}
.table-bordered {
  border: 0.05vw solid rgba(0, 0, 0, 0.1) !important;
  text-align: center;
  font-size: 0.8vw;
  font-weight: 400;
  margin-bottom: 1vw !important;
}
/* Ua Uc Open */
.ua-uc-section{
  margin: -1vw;
}
.nav-tabs{
  height: 3vw;
  background-color: #fff;
  border-bottom: 0 !important;
  box-shadow: 0 0.1vw 0.2vw rgba(0, 0, 0, 0.1);
}
.nav-tabs .nav-link{
  color: rgba(0, 0, 0, 0.4);
  background-color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1vw;
  border: 0 !important;
  border-bottom: 0.05vw solid rgba(0, 0, 0, 0.1) !important;
  min-width: 10vw;
  text-align: center;
  vertical-align: middle;
  padding: 0.7vw !important;
  margin: 0 1vw;
}
.nav-tabs .nav-link.active {
  color: #FF6347 !important;
  border-bottom: 0.2vw solid #FF6347 !important;
}
/* comman classes */
.divider{
  color: rgba(0, 0, 0, 0.1);
  padding: 0 0.3vw;
}
.days{
  color: #FF6347;
}
.loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.loader .loader-img{
  margin: 0 auto;
  display: block;
  height: 8vw;
  margin-top: 20%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
